Localization
{
ja
{
	#autoLOC_AirlockPlus00000 = エアロック・プラス
	#autoLOC_AirlockPlusBP001 = [Shift+<<1>>]空席有りパーツに搭乗する\n[Ctrl+<<1>>]搭乗したいパーツを選ぶ
	#autoLOC_AirlockPlusBP002 = 機体が満員のため搭乗できません。
	#autoLOC_AirlockPlusBP002c = 可住空間が満員のため搭乗できません。
	#autoLOC_AirlockPlusBP003 = <color=<<1>>>搭乗したいパーツを選択してください\n[Esc]:キャンセル</color>
	#autoLOC_AirlockPlusAP001 = 乗組員: <<1>>/<<2>>
	#autoLOC_AirlockPlusAP002 = （旅行客）
	#autoLOC_AirlockPlusAP003 = EVA
}
}
